<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <input type="text" name="fname"  placeholder="enter firstname"><br>
    <input type="text" name="lname"  placeholder="enter lastname"><br>
    <input type="text" name="username"  placeholder="enter username"><br>
    <input type="password" name="pass1"  placeholder="enter password"><br>
    <input type="password" name="pass2"  placeholder="enter passwordagain">
    <input type="email" name="email"  placeholder="enter email"><br>
    <input type="submit">
</form>
{% for msg in messages %}
<h1>{{msg}}</h1>
{%  endfor %}
</body>
</html>